.main{
    display: flex;
    flex-direction: column;
    place-items: center;
   min-height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-image:url('../assets/images/background.svg') ; 
  background-size: cover;
}
.purple{
    color: #646cff;
    display: block;
}

.main-container{
    display: flex;
    place-items: center;
    color: #34343a;
  width: 80%;
  min-height:350px;
  background-color: white;
  box-shadow:  5px 5px 10px #4b49492d,
  -5px -5px 10px #4b49492d;
  border-radius:1rem;
  padding: 2rem;
}