.main-about{
    display: flex;
    flex-direction: column;
    place-items: center;
   min-height: 90vh;
  justify-content: center;
  align-items: center;
z-index: -1;
  background-image:url('../assets/images/background.svg') ; 
  background-size: cover;
}
.about-container{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
    color: #34343a;
  width: 80%;
  min-height:350px;
  background-color: white;
  box-shadow:  5px 5px 10px #4b494912,
  -5px -5px 10px #4b494912;
  border-radius:1rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-image{
   display: flex;
   align-items: center;
   justify-content: center;
 flex-wrap: wrap;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.about-image img{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
    border: solid 4px  #646cff;
}
.text-container p{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 35px;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .about-container{flex-direction: column;}
    .text-container p{
        font-size: 1.1rem;
        line-height: 25px;
    }
}